@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Spartan, sans-serif;
    font-weight: 500;
}

header img {
    background-color: hsl(180, 8%, 52%);
}
body{
    background-color: hsl(180, 31%, 95%);

}
.container {
    margin: 50px 200px 0 200px;
}

.card {
    display: flex;
    margin-bottom: 50px;
    background-color: white;
    padding: 30px;
    justify-content: space-evenly;
}



.card .left div {
    display: flex;
    justify-content: space-around;
    }

.new {
    background-color: hsl(180, 29%, 50%);
    border-radius: 30px;
    width: fit-content;
    text-transform: uppercase;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    color: white;
    font-size: 15px;
}

.featured {
    color: white;
    background-color: hsl(180, 14%, 20%);
    border-radius: 30px;
    width: fit-content;
    text-transform: uppercase;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
}

 button {
    background-color: hsl(180, 31%, 95%);
    width: auto;
    margin: 5px;
    padding: 5px;
    border: none;
    font-weight: bold;
    
    height: 25px;
    color: #63baba
 }

.card .right div {
    display: flex;
    /* justify-content: flex-end; */
    /* position: absolute; */
    
        
}

.left {
    padding-left: 10px;
}
.right {
    padding-left: 100px;
    padding-top: 20px;
}

.card ul {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.card li:first-child {
    list-style: none;
}

